* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #6f23ff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hello {
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  color: white;
  font-size: 2rem;
}
